
<div>
  <h2>Welcome Encryption and decryption ! </h2>
  <label> Message : </label>
  <input type="text" [(ngModel)]="msg" [ngModelOptions]="{standalone: true}">
  <div class="col-md-12">
    <button class="btn btn-md" type="button" (click)="encryptData()" style="background:#E3E7DA;">
      <span>Encrypt</span>
    </button>&nbsp;&nbsp;
    <button class="btn btn-md" type="button" (click)="decryptData()" style="background:#E3E7DA;">
      <span>Decrypt</span>
    </button>
  </div>
  <div class="col-md-12" *ngIf="showResult">
    <label> Result : {{result}}</label>
  </div>
</div>
